node_modules
.DS_Store
.husky
.vscode
dist
dist-ssr
*.local
coverage
.env
build
doc
analyze.html
yarn-error.log
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests/downloads/*
/tests/auth.json

.idea/
.cursor/
mcp.json